.form-hair .form-cont {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}




@media screen and (max-width: 1536px) {
    .form-hair {
        position: relative;
        right: 1.7em;
    }
    .form-hair .form-cont .form-sub .cont-first .text-third {
        position: relative;
        left: 3.3em;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-tree {
        position: relative;
        left: 4.2em;
    }
}
@media screen and (max-width: 1280px) {
    .form-hair .form-cont {
        max-width: 870px;
        max-height: 262px;
    }
}
@media screen and (max-width: 1024px) {
    .form-hair .form-cont {
        position: relative;
        left: -1em;
        top: -6em;
    }
    .form-hair .gmail {
        position: relative;
        top: -14.4em;
    }
    .form-hair .form-cont {
        max-width: 775px;
        max-height: 262px;
    }
    .form-hair .form-cont .main-title {
        position: relative;
        top: 1.5em;
    }
    .form-hair .form-cont .form-sub {
        position: relative;
        top: 3.6em;
        right: 8em;
    }
    .form-hair .form-cont .main-title .title-one {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-two {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-three {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-four {
        font-size: 18px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-first {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-second {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-third {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .form-content .form-input {
        width: 264px;
        height: 42px;
    }
    
}
@media screen and (max-width: 992px) {
    .form-hair .form-cont {
        position: relative;
        left: 0.5em;
        top: -6em;
    }
    .form-hair .gmail {
        position: relative;
        top: -14.4em;
    }
    .form-hair .form-cont {
        max-width: 775px;
        max-height: 262px;
    }
    .form-hair .form-cont .main-title {
        position: relative;
        top: 1.5em;
    }
    .form-hair .form-cont .form-sub {
        position: relative;
        top: 3.6em;
        right: 8em;
    }
    .form-hair .form-cont .main-title .title-one {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-two {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-three {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-four {
        font-size: 18px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-first {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-second {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-third {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .form-content .form-input {
        width: 264px;
        height: 42px;
    }
    
}
@media screen and (max-width: 768px) {
    .form-hair .gmail {
        position: relative;
        top: -10.3em;
    }
    .form-hair .form-cont {
        position: relative;
        left: -1.7em;
        bottom: 1em;
        top: -2em;
    }
    .form-hair .form-cont {
        max-width: 560px;
        max-height: 262px;
    }
    .form-hair .form-cont .form-sub {
        position: relative;
        right: 10em;
        top: 5.5em;
    }
    .form-hair .form-cont .main-title .title-one {
        font-size: 16px;
    }
    .form-hair .form-cont .main-title .title-two {
        font-size: 16px;
    }
    .form-hair .form-cont .main-title .title-three {
        font-size: 16px;
    }
    .form-hair .form-cont .main-title .title-four {
        font-size: 16px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-first {
        font-size: 10px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-second {
        font-size: 10px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-third {
        font-size: 10px;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-one {
        font-size: 10px;
        position: relative;
        left: 0.1em;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-two {
        font-size: 10px;
        position: relative;
        top: 2.8em;
        right: 15.5em;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-tree {
        font-size: 10px;
    }
    .form-hair .form-cont .form-sub .form-content .form-input {
        width: 170px;
        height: 35px;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button {
        width: 90px;
        height: 35px;
        position: relative;
        right: 1em;
        
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button h5 {
        font-size: 9px;
        margin-top: 1em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button img {
        position: relative;
        bottom: 0.8em;
        left: 4.2em;
        width: 13px;
        height: 13px;
    }
}
@media screen and (max-width: 640px) {
    .form-hair {
        position: relative;
        right: 3em;
        
    }
    .form-hair .gmail {
        position: relative;
        top: -23em;
        left: 17em;
    }
    .form-hair .form-cont {
        position: relative;
        left: -0.5em;
        bottom: 7em;
    }
    .form-hair .form-cont {
        max-width: 440px;
        max-height: 662px;
    }
    .form-hair .form-cont .form-sub {
        position: relative;
        right: 16em;
        top: 15.5em;
    }
    .form-hair .form-cont .main-title {
        position: relative;
        left: 3em;
        top: -0.2em;
    }
    .form-hair .form-cont .main-title .title-one {
        font-size: 24px;
    }
    .form-hair .form-cont .main-title .title-two {
        font-size: 24px;
        position: relative;
        left: 1.6em;
    }
    .form-hair .form-cont .main-title .title-three {
        font-size: 24px;
        position: relative;
        right: 0.2em;
    }
    .form-hair .form-cont .main-title .title-four {
        font-size: 24px;
        position: relative;
        left: 2em;
    }

    .form-hair .form-cont .form-sub .cont-first {
        position: relative;
        right: 2em;
        bottom: 2em;
    }
    .form-hair .form-cont .form-sub .cont-first .text-first {
        font-size: 20px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-second {
        font-size: 20px;
        position: relative;
        top: 1.3em;
        right: 12.6em;
    }
    .form-hair .form-cont .form-sub .cont-first .text-third {
        font-size: 20px;
        position: relative;
        top: 1.2em;
    }
    .form-hair .form-cont .form-sub .pag-blabla {
        position: relative;
        top: 7em;
        right: 5em;
    }

    .form-hair .form-cont .form-sub .pag-blabla .pag-one {
        font-size: 18px;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-two {
        font-size: 18px;
        position: relative;
        top: 1.3em;
        right: 15.5em;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-tree {
        font-size: 18px;
        position: relative;
        top: 1.5em;
        left: 4.3em;
    }
    .form-hair .form-cont .form-sub .form-content .form-input {
        width: 380px;
        height: 52px;
        position: relative;
        right: 7.3em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button {
        width: 199px;
        height: 52px;
        position: relative;
        right: 26.5em;
        top: 5em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button h5 {
        font-size: 18px;
        margin-top: 0.6em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button img {
        position: relative;
        bottom: 1.5em;
        left: 9.7em;
        width: 23px;
        height: 23px;
    }
}
@media screen and (max-width: 480px) {
    .form-hair {
        position: relative;
        right: 2.5em;
        bottom: 3em;
    }
    .form-hair .gmail {
        position: relative;
        top: -16.8em;
        left: 12em;
    }
    .form-hair .form-cont {
        position: relative;
        left: -0.5em;
        bottom: 7em;
    }
    .form-hair .form-cont {
        max-width: 292px;
        max-height: 468px;
    }
    .form-hair .form-cont .form-sub {
        position: relative;
        right: 16em;
        top: 15.5em;
    }
    .form-hair .form-cont .main-title {
        position: relative;
        left: 1em;
        top: -0.2em;
    }
    .form-hair .form-cont .main-title .title-one {
        font-size: 18px;
    }
    .form-hair .form-cont .main-title .title-two {
        font-size: 18px;
        position: relative;
        left: 1.6em;
    }
    .form-hair .form-cont .main-title .title-three {
        font-size: 18px;
        position: relative;
        right: 0.2em;
    }
    .form-hair .form-cont .main-title .title-four {
        font-size: 18px;
        position: relative;
        left: 2em;
    }

    .form-hair .form-cont .form-sub .cont-first {
        position: relative;
        right: 5em;
        bottom: 3em;
    }
    .form-hair .form-cont .form-sub .cont-first .text-first {
        font-size: 14px;
    }
    .form-hair .form-cont .form-sub .cont-first .text-second {
        font-size: 14px;
        position: relative;
        top: 1.3em;
        right: 12.6em;
    }
    .form-hair .form-cont .form-sub .cont-first .text-third {
        font-size: 14px;
        position: relative;
        top: 1.2em;
    }
    .form-hair .form-cont .form-sub .pag-blabla {
        position: relative;
        top: 2em;
        right: 6.7em;
    }

    .form-hair .form-cont .form-sub .pag-blabla .pag-one {
        font-size: 12px;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-two {
        font-size: 12px;
        position: relative;
        top: 1.3em;
        right: 15.6em;
    }
    .form-hair .form-cont .form-sub .pag-blabla .pag-tree {
        font-size: 12px;
        position: relative;
        top: 1.5em;
        left: 4.2em;
    }
    .form-hair .form-cont .form-sub .form-content .form-input {
        width: 244px;
        height: 42px;
        position: relative;
        right: 7.7em;
        bottom: 2em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button {
        width: 149px;
        height: 42px;
        position: relative;
        right: 21.5em;
        top: 2em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button h5 {
        font-size: 16px;
        margin-top: 0.4em;
    }
    .form-hair .form-cont .form-sub .form-content .form-cont-butt .form-button img {
        position: relative;
        bottom: 1.5em;
        left: 7.3em;
        width: 23px;
        height: 23px;
    }
}