.thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}
@media screen and (max-width: 1900px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        margin-top: -21em;
    }   
    .thempostimpo .thempostimpo-cont {
        width: 81%;
        min-height: 100vh;
        position: relative;
        left: 0.1em;
        top: 2em;
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    
}
@media screen and (max-width: 1536px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        margin-top: -19.6em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 80%;
        min-height: 100vh;
        position: relative;
        left: -0.1em;
        top: 2em;
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}
@media screen and (max-width: 1380px) {
    .thempostimpo .thempostimpo-cont {
        width: 77%;
        min-height: 100vh;
        position: relative;
        left: -0.1em;
        top: 2em;
    }
}



@media screen and (max-width: 1280px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        font-size: 35px;
        margin-top: -27.8em;
        left: 19.8em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 82%;
        min-height: 100vh;
        position: relative;
        left: 5em;
        top: 2em;
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}
@media screen and (max-width: 1080px) {
    .thempostimpo .thempostimpo-cont {
        width: 82%;
        min-height: 100vh;
        position: relative;
        left: 7em;
        top: 2em;
    }
}

@media screen and (max-width: 1024px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
       font-size: 30px;
       margin-top: -39.5em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 87%;
        min-height: 100vh;
        position: relative;
        left: 7.9em;
        top: -5em;
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}

@media screen and (max-width: 992px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -48em;
        position: relative;
        left: 19.1em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 87%;
        min-height: 100vh;
        position: relative;
        left: 7.2em;
        top: -1em;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im {
        position: relative;
        right: 3em;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-tite {
        font-size: 20px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-parograph {
        font-size: 14px;
        position: relative;
        left: 2em;
    }
}
@media screen and (max-width: 820px) {
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -44.2em;
        left: 19em;
    }
}

@media screen and (max-width: 768px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -44.7em;
        left: 18.3em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 87%;
        min-height: 100vh;
        position: relative;
        left: 7.5em;
        top: -1em;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im {
        position: relative;
        right: 3em;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-tite {
        font-size: 20px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-parograph {
        font-size: 14px;
        position: relative;
        left: 2em;
    }
}

@media screen and (max-width: 480px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -94em;
        left: 18em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 87%;
        min-height: 100vh;
        position: relative;
        left: 8.9em;
        top: -1em;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im {
        position: relative;
        right: 3em;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-tite {
        font-size: 20px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-parograph {
        font-size: 14px;
        position: relative;
        left: 2em;
    }
}
@media screen and (max-width: 410px) {
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -91em;
        left: 17.6em;
    }
}
@media screen and (max-width: 370px) {
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -86em;
        left: 17.6em;
    }
}
@media screen and (max-width: 320px) {
    .thempostimpo {
        margin-left: 11em;
    }
    .thempostimpo .theimpo-title-first {
        font-size: 30px;
        margin-top: -89em;
        left: 17.1em;
    }
    .thempostimpo .thempostimpo-cont {
        width: 92%;
        min-height: 100vh;
        position: relative;
        left: 10em;
        top: -1em;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
     .thempostimpo .thempostimpo-cont .theimpo-cart .theimpo-img {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im {
        position: relative;
        right: 3em;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-tite {
        font-size: 20px;
    }
    .thempostimpo .thempostimpo-cont .theimpo-cart .texts-im .theimpo-parograph {
        font-size: 14px;
        position: relative;
        left: 2em;
    }
}