@media screen and (max-width: 1024px) {
    .footer .plum {
       position: relative;
       left: -5em;
    }
    .footer .footer-one {
        position: relative;
        left: -3em;
    }
    .footer .footer-one p {
        display: none;
    }
    .footer .footer-two {
        margin-top: -2em;
        position: relative;
        left: 3em;
    }
    .footer .footer-two h1 {
        margin-left: 3em;
    }
}
@media screen and (max-width: 768px) {
    .footer .plum {
       position: relative;
       left: -3em;
       font-size: 12px;
    }
    .footer .footer-one {
        position: relative;
        left: -3em;
    }
    .footer .footer-one p {
        display: none;
    }
    .footer .footer-two {
        margin-top: -2em;
        position: relative;
        left: 3em;
        top: 0.6em;
    }
    .footer .footer-two h1 {
        margin-left: 3em;
        font-size: 10px;
    }
    .footer .footer-two p {
        font-size: 10px;
    }
}
@media screen and (max-width: 640px) {
    .footer .plum {
       position: relative;
       left: -1em;
       font-size: 10px;
    }
    .footer .footer-one {
        position: relative;
        left: -4em;
    }
    .footer .footer-one p {
        display: none;
    }
    .footer .footer-two {
        margin-top: -2em;
        position: relative;
        left: 4em;
        top: 0.6em;
    }
    .footer .footer-two h1 {
        margin-left: 3em;
        font-size: 8px;
    }
    .footer .footer-two p {
        font-size: 8px;
    }
}
@media screen and (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer .footer-one img {
        width: 150px;
        height: 43px;
        position: relative;
        bottom: 2em;
        left: 7.5em;
    }
    .footer .plum {
        font-size: 16px;
        position: relative;
        left: -0.2em;
        padding-top: 8em;
        bottom: 6em;
    }
    .footer .footer-two {
        position: relative;
        left: -1em;
    }
    .footer .footer-two h1 {
        font-size: 13px;
    }
    .footer .footer-two p {
        font-size: 11px;
        position: relative;
        left: 2em;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer .footer-one img {
        width: 150px;
        height: 43px;
        position: relative;
        bottom: 2em;
        left: 4em;
    }
    .footer .plum {
        font-size: 11px;
        position: relative;
        left: -0.2em;
        padding-top: 8em;
        bottom: 6em;
    }
    .footer .footer-two {
        position: relative;
        left: -1em;
    }
    .footer .footer-two h1 {
        position: relative;
        font-size: 5px;
        left: 2.2em;
        top: -5em;
    }
    .footer .footer-two p {
        position: relative;
        font-size: 4px;
        left: 6em;

    }
}
