.footer .footer-one .footer-logo {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}
@media screen and (max-width: 1280px) {
    .footer .footer-one .footer-logo {
        margin-left: -3.5em;
    }
    .footer .footer-one .footer-text {
        position: relative;
        left: 2em;
        font-size: 10px;
    }
    .footer .footer-two {
        position: relative;
        left: 3.5em;
    }
    .footer .plum {
        position: relative;
        left: 3em;
        font-size: 14px;
     }
}

@media screen and (max-width: 1024px) {
    .footer .plum {
       position: relative;
       left: -5em;
    }
    .footer .footer-one {
        position: relative;
        left: -3em;
    }
    .footer .footer-one p {
        display: none;
    }
    .footer .footer-two {
        margin-top: -2em;
        position: relative;
        left: 3em;
    }
    .footer .footer-two h1 {
        margin-left: 3em;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        margin-top: 2em;
    }
    .footer .plum {
       position: relative;
       left: -3em;
       font-size: 12px;
    }
    .footer .footer-one .footer-logo {
        position: relative;
        left: 1.5em;
    }
    .footer .footer-one {
        position: relative;
        left: -3em;
    }
    .footer .footer-one p {
        display: none;
    }
    .footer .footer-two {
        margin-top: -2em;
        position: relative;
        left: 3em;
        top: 0.6em;
    }
    .footer .footer-two h1 {
        margin-left: 3em;
        font-size: 10px;
    }
    .footer .footer-two p {
        font-size: 10px;
    }
}
@media screen and (max-width: 640px) {
    .footer .plum {
       position: relative;
       left: -1em;
       font-size: 10px;
    }
    .footer .footer-one {
        position: relative;
        left: -4em;
    }
    .footer .footer-one p {
        display: none;
    }
    .footer .footer-two {
        margin-top: -2em;
        position: relative;
        left: 4em;
        top: 0.6em;
    }
    .footer .footer-two h1 {
        margin-left: 3em;
        font-size: 8px;
    }
    .footer .footer-two p {
        font-size: 8px;
    }
}
@media screen and (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: -5em;
    }
    .footer .footer-one .footer-logo {
        max-width: 240px;
        max-height: 63px;
        margin-left: 5em;
        margin-top: -1.5em;
    }
    .footer .plum {
        font-size: 20px;
        position: relative;
        left: 1.5em;
        padding-top: 8em;
        bottom: 5em;
        margin-left: -4em;
    }
    .footer .footer-two {
        position: relative;
        left: 4.5em;
        top: 1.5em;
    }
    
    .footer .footer-two .first {
        font-size: 14px;
        margin-left: -11em;
        position: relative;
        left: 8.1em;
        top: -0.1em;
    }
    .footer .footer-two p {
        font-size: 14px;
        margin-left: -16em;
        position: relative;
        left: 10.3em;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: -5em;
    }
    .footer .footer-one .footer-logo {
        max-width: 190px;
        max-height: 53px;
        margin-left: 1.8em;
    }
    .footer .plum {
        font-size: 16px;
        position: relative;
        left: 2.2em;
        padding-top: 8em;
        bottom: 2.5em;
        margin-left: -4em;
    }
    .footer .footer-two {
        position: relative;
        left: -1em;
        top: 2.5em;
    }
    
    .footer .footer-two .first {
        font-size: 12px;
        margin-left: -11em;
        position: relative;
        left: 8.1em;
        top: -0.1em;
    }
    .footer .footer-two p {
        font-size: 12px;
        margin-left: -16em;
        position: relative;
        left: 10.3em;
    }
}
