@media screen and (max-width: 1920px) {
    .current-main .current-title {
        left: 17.2em;
        font-size: 48px;
        margin-top: -24.5em;
    }
    .current-main .current-container {
        margin-right: -3.7em;
        width: 87%;
        min-height: 100vh;
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}
@media screen and (max-width: 1536px) {
    .current-main .current-title {
        left: 17.4em;
        font-size: 48px;
        margin-top: -22em;
    }
    .current-main .current-container {
        margin-right: -4em;
        width: 84%;
        min-height: 100vh;
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .current-main .current-container .current-cart .current-text {
        margin-left: 9.5em;
    }
    .current-main .current-container .current-cart .current-text .current-tite {
        font-size: 24px;        
    }
    .current-main .current-container .current-cart .current-text .current-parograph {
        font-size: 14px;        
    }
}
@media screen and (max-width: 1280px) {
    .current-main {
        position: relative;
        top: 2em;
    }
    .current-main .current-title {
        left: 17.2em;
        font-size: 42px;
        margin-top: -25.5em;
    }
    .current-main .current-container {
        margin-right: -6em;
        width: 87%;
        min-height: 100vh;
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .current-main .current-container .current-cart .current-text {
        margin-left: 8.2em;
    }
    .current-main .current-container .current-cart .current-text .current-tite {
        font-size: 20px;        
    }
    .current-main .current-container .current-cart .current-text .current-parograph {
        font-size: 12px;        
    }
}
@media screen and (max-width: 1024px) {
    .current-main .current-title {
        left: 19em;
        font-size: 30px;
        margin-top: -35.5em;
    }
    .current-main .current-container {
        margin-right: -12em;
        width: 96%;
        min-height: 100vh;
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .current-main .current-container .current-cart .current-text .current-parograph {
        font-size: 12px;
        left: 0.3em;
        position: relative;        
    }
}
@media screen and (max-width: 992px) {
    .current-main .current-title {
        left: 19em;
        font-size: 30px;
        margin-top: -39.5em;
    }
    .current-main .current-container {
        margin-right: -12em;
        width: 96%;
        min-height: 100vh;
        position: relative;
        left: -2em;
        top: -2.5em;
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
    .current-main .current-container .current-cart .current-text .current-parograph {
        font-size: 12px;
        left: 0.3em;
        position: relative;        
    }
}
@media screen and (max-width: 768px) {
    .current-main .current-title {
        left: 17.5em;
        font-size: 30px;
        margin-top: -36.3em;
    }
    .current-main .current-container {
        margin-right: -10em;
        width: 96%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}
@media screen and (max-width: 480px) {
    .current-main .current-title {
        left: 17.5em;
        font-size: 30px;
        margin-top: -48.3em;
    }
    .current-main .current-container {
        margin-right: -10.5em;
        width: 96%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}
@media screen and (max-width: 420px) {
    .current-main .current-title {
        left: 17.5em;
        font-size: 30px;
        margin-top: -44em;
    }
    .current-main .current-container {
        position: relative;
        bottom: 3em;
        margin-right: -10.9em;
        width: 96%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .current-main .current-container .current-cart .current-image {
        width: 100%;
        height: auto;
        max-width: 590px;
    }
}